body{
  text-align: center;

}
.form-group {
  width: 30% !important;
  margin: 0 auto;
}
li {
  list-style-type: none;
  border: 1px solid black;
  margin: 20px;
  padding: 20px;
}
ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
